/*add css here*/

.App {
    margin: 0;
}

.content {
    border: none;
    /* width: 600px;
    height: 600px; */
} 

body{
    /* takes out a weird white border in the room */
    margin: 0;
}
  
  